# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Ash Berlin <ash_github@firemirror.com> Ash <ash_github@firemirror.com>
Chris Prather <chris@prather.org> perigrin <chris@prather.org>
Devin Austin <dhoss@cpan.org> Devin Austin <devin@devin-laptop.(none)>
Karen Etheridge <ether@cpan.org> Karen Etheridge <karen@etheridge.ca>
Justin Hunter <justin.d.hunter@gmail.com> arcanez <justin.d.hunter@gmail.com>
Nelo Onyiah <nelo.onyiah@gmail.com> Nelo Onyiah <io1@sanger.ac.uk>
Nick Perez <nperez@cpan.org> nperez <nperez@cpan.org>
